body, #layout, #nav, #nav-inner {
  margin: 0;
  padding: 0;
}

#layout{
  padding-left: 500px;
  position: relative;
}
   
#nav {  
  background-color: lightgrey;
  margin-left: -500px;
  width:200px;
  height: 100%;
  border-right: 1px solid #ddd;
  position: fixed;
  overflow: auto;
}

#email-list {
  margin-left: -300px;
  width: 300px;
  height: 100%;
  position: fixed;
  
  padding: 0;
  top: 0;
  bottom 0;
  overflow: auto;
}

#email-view{
    position: static;
    top: 33%;
    right: 0;
    bottom: 0;
    left: 300px;
    overflow: auto;
    width: auto;
}

#compose-button{
    color: #fff;
    background: #1b98f8;
    margin: 1em 0;
	box-shadow: none;
    border-radius: 20px;
}

.email-item{
  padding: 0.9em 1em;
  border-bottom: 1px solid #ddd;
  border-left: 6px solid transparent;
 }
 
 .menu-list{
   list-style: none;
   
   margin: 0;
   padding: 0;
 }
 
 .menu-item .menu-list{
   position: relative;
 }
 .menu-item{
   padding: 0;
   margin: 0;
 }
 
 .menu-link{
   margin-left: 0.5em;
   padding: .5em 1em;
   display: block;
   text-decoration: none;
   white-space: nowrap;
   color: #fff;
 }
 
.email-item-unread{
     border-left: 6px solid #1b98f8;
 }
 
.email-name, email-subject{
  margin: 0;
}

 .email-name {
text-transform: uppercase;
    color: #999;
 }