* {
  	box-sizing: border-box;
}

body {
  	background-image: url("../images/background3.jpg");
  	background-attachment: fixed;
}

#login-panel {
  	width: 60%;  	
  	margin: 5% auto 0px auto;
  	font-family: 'LatoRegular', 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, sans-serif !important;
  	line-height: 21px;
  	color: #636e7b; 
}

#login-form {
	background-image: url("../images/background_login.png");
  	background-size: 100% 100%;
  	background-repeat: no-repeat;
  	width:80%;
  	padding: 9% 11% 11% 11%;
}

#decoration {
  	width: 5%;
  	margin-left:13%;
	margin-top: -23%;
}

.nomargin {
  	margin: 0;
}

h4 {
  	line-height: 24px;
  	font-size: 18px;
  	font-weight: 500;
  	color: inherit;
  	box-sizing: border-box;
  	display: block;
  -webkit-margin-before: 1.33em;
  -webkit-margin-after: 1.33em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;  
}

.login-message {
  	margin-top: 5px;
  	margin-bottom: 20px;
  	margin-right: 0px;
  	margin-left: 0px;
}

#username {
  	background: #fff url(../images/icon_user.png) no-repeat 95% center;
}

#password {
 	background: #fff url(../images/icon_locked.png) no-repeat 95% center;
}

input {
  	display: block;
    margin-top: 15px;
    border-radius: 3px;
    padding: 10px;
    height: auto;
    box-shadow: none;
    font-size: 13px;
    width: 100%;
    line-height: 1.4;
    border: 1px solid #ccc;
}

small {
  	font-size: 11px;
}

a {
  	color: #666;
  	text-decoration: none;
}

button {
  	margin-top: 15px;
  	background-color: #1CAF9A;
  	border-color: #17a08c;
  	border-radius: 3px;
  	line-height: 21px;
  	padding: 6px 15px;
  	display: block;
  	width: 100%;
  	color: #fff;
  	cursor: pointer;
  	border: 1px solid transparent;
  	font-size: 14px;
  	user-select: none;
  	font-family: inherit;
	-webkit-appearance: button;
}