@font-face {
    font-family: ludicrous;
    src: url("../fonts/ludicrous.otf") /* "Ludicrous", a handrwitten-style font. */
}

body {
    background-color: lightgrey;
}

a{
    position: fixed;
    bottom: 0;
    right: 0;
}

form {
	display: flex;
	flex-direction: column;
	width: 30%;
	margin: 20px auto;
}

button{
	width: 10%;
	margin: 10px auto;
}

h1{

	width: 27%;
	margin: 0 auto;
}

select{
	width: 40%;
	margin: 0 auto;
}

#email{
	width: 50%;
	margin: 0;
}

h4{
	width: 10%;
	margin: 0 auto;
}