doctype html
html(xmlns='http://www.w3.org/1999/xhtml', lang='en', xml:lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title WattMail - Mail
    link(rel='stylesheet', href='stylesheets/global.css')
    link(rel='stylesheet', href='stylesheets/index.css')
    script(type='text/javascript', src='javascripts/index.js')
  body
    #layout
      #nav
        #nav-logo
          img#logo(src='images/mail_logo_sticky.png', alt='WattMail logo')
        #nav-inner
          button#compose-button.menu-link.menu-item(draggable='true', onclick='composeMessage()') Compose
          #menu
            ul.menu-list
              li#menu-item-0.menu-item(draggable='true', ondragenter='dragenter(event)', ondragstart='dragstart(event)')
                #inbox.menu-link
                  a(href='#', draggable='false')
                    | Inbox (
                    span#numberEmails
                    | )
                  |  
                  img.folderSettings.dropbtn(src='images/icon_settings.png', onclick='dropdown()', draggable='false', alt='Settings')
                  #myDropdown.dropdown-content(draggable='false')
                    a(href='#newFolder') New Folder
                    |  
                    a(href='#EmptyFolder') Empty Folder
                    |  
                    a(href='#deleteFolder') Delete Folder
              li#menu-item-1.menu-item(draggable='true', ondragenter='dragenter(event)', ondragstart='dragstart(event)')
                a#Important.menu-link(href='#') Important
              li#menu-item-2.menu-item(draggable='true', ondragenter='dragenter(event)', ondragstart='dragstart(event)')
                a#sent.menu-link(href='#') Sent
              li#menu-item-3.menu-item(draggable='true', ondragenter='dragenter(event)', ondragstart='dragstart(event)')
                a#drafts.menu-link(href='#') Drafts
              li#menu-item-4.menu-item(draggable='true', ondragenter='dragenter(event)', ondragstart='dragstart(event)')
                a#trash.menu-link(href='#') Trash
        #nav-bottom
          a(href='http://validator.w3.org/check/referer')
            img#stamp_html.stamp(src='images/stamp_html.png', alt='Verification')
          |  
          a(href='https://jigsaw.w3.org/css-validator/check/referer')
            img#stamp_css.stamp(src='images/stamp_css.png', alt='Verification')
      #email-list
        .email-item.email-item-unread
          .email-summary
            h5.email-name Duncan Robertson
            h4.email-subject RE: Webpage Design
            p.email-description When are we going to start...
        .email-item
          .email-summary
            h5.email-name Cameron Craig
            h4.email-subject Team Triforce
            p.email-description The robot doesn&apos;t move then...
        .email-item
          .email-summary
            h5.email-name Dave Lane
            h4.email-subject WHERE IS MY MONEY
            p.email-description You spent all that money and it does&apos;t even move! WHA...
      #email-view
        #email-view-header
          #email-view-info.column
            h1#email-view-subject RE: Webpage Design
            p#email-view-from
              | From 
              a Duncan Robertson
              |  at 
              span 22:10pm, Feburary 20, 2017
          #email-view-controls.column
            input.draft(onclick='reply(true)', type='image', src='images/icon_reply.png', title='Reply', alt='Reply')
            |  
            input#email-addr(type='hidden', name='email-address', value='dr232@hw.ac.uk')
            |  
            input.draft(onclick='reply(false)', type='image', src='images/icon_forward.png', title='Forward', alt='Forward')
            |  
            input.draft(type='image', src='images/icon_move.png', title='Move', alt='Move')
        #email-view-content
          p  When are we going to start making the webpages then?
          p
            | Maybe you could help me figure out this stupid sidebar thing, so we don&apos;t have to have it coded in 4 different places
          p  Duncan
    script.
      function noEmails(num){
      return num+1;
      }
      document.getElementById("numberEmails").innerHTML = noEmails(2);
      chooseColour();
