doctype html
html(xmlns='http://www.w3.org/1999/xhtml', lang='en', xml:lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title WattMail - Register
    link(rel='stylesheet', href='stylesheets/global.css')
    link(rel='stylesheet', href='stylesheets/accounts.css')
  body
    #layout
      #nav.navreg
        #nav-logo
          img#logo(src='images/mail_logo_sticky.png', alt='WattMail logo')
        #nav-bottom
          a(href='http://validator.w3.org/check/referer')
            img#stamp_html.stamp(src='images/stamp_html.png', alt='Verification')
          |  
          a(href='https://jigsaw.w3.org/css-validator/check/referer')
            img#stamp_css.stamp(src='images/stamp_css.png', alt='Verification')
    #register-panel
      #register-box
        form#register-form(method='post', action='index.html')
          h3.nomargin Register
          p#register-message
            | Already a member? 
            a(href='login.html')
              strong Sign In
          |  
          label Name
          .row.margin-bottom10
            .column-50
              input(name='firstname', type='text', placeholder='Firstname', required='required')
            .column-50
              input(name='lastname', type='text', placeholder='Lastname', required='required')
          .margin-bottom10.register-box
            label Username
            |  
            input.username(name='username', type='text')
          .margin-bottom10.register-box
            label Password
            |  
            input.password(name='password', type='password', required='required')
          .margin-bottom10.register-box
            label Retype Password
            |  
            input.password(name='password-confirm', type='password', required='required')
          |  
          label Date of Birth
          .row.margin-bottom10
            .column-30
              input#day(type='number', placeholder='Day')
            .column-30
              input#month(type='number', placeholder='Month')
            .column-40
              input#year(type='number', placeholder='Year')
          |  
          button Register
